* {
    --site-background: #E5EDF4;
    --furbox-background: #F9F9F9;
    --site-text-colour: #333;
    --site-subtext-colour: #888;
    --site-font-size: 16px;
    --img-height: 280px;
    --shopbannerimg-height: 50px;
    --gaps: 10px;
    --textborder: rgba(0,0,0,0.5);
    --rainbowbox: linear-gradient(to right, #EC6A69,#F0994F,#CCAB13,#9ABA28,#59C36A,#00C6B7,#36B9F1,#78A9FF,#C89CE4,#DF6D9D,#EC6A69);
    --whitegraph-bordercol: #CCC;
    --colour-swatch-size-outer: 36px;
    --colour-swatch-size-inner: 32px;
}

html {
    background: var(--site-background);
    font-family: Open Sans, Arial;
    color: var(--site-text-colour);
    font-size: var(--site-font-size);
}

overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 900; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

a {
    color: var(--site-subtext-colour);
}

dummycentre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

bigfurbox {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 16px 0;
    background-color: var(--furbox-background);
    box-sizing: border-box;
    height: calc(min(720px,80vh));
    width: calc((4/3) * min(720px,80vh));
    animation: smooth 1.5s backwards;
    animation-delay: 0.40s;
    padding: var(--gaps);
    overflow: auto;
}
